.container{
    text-align: center;
    margin-top: 50px;
}
table{
    margin: auto;

}

input{
    font-size: 28px;
    border-width: 3px;
    border-color: black;
    border-radius: 8px;
    width: 365px;
}
button{
    margin: 4px;
    font-size: 32px;
    background: #9de9f1;
    width: 86px;
    height: 46px;
    border-radius: 18px;
}
.calculator{
    display: inline-block;
    border: 3px solid rgb(29, 51, 103);
    background-color: cadetblue;
    padding: 9px;
    border-radius: 30px;
}